{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead"  id= "me" style="background-image: url({{ url_for('static', filename='img/me.JPG')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading" >
            <h1 style="backdrop-filter:blur(10px)">About Me</h1>
            <span class="subheading">This is how I live my life.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Greetings, fellow reader/contributor to my blog! I am Ayush and I am a python/full stack developer.</p>
        <p>When I am not working on my projects, You can find me playing my guitar, singing songs and travelling around exploring new opportunities.</p>
        <p>Hope you enjoy your time on my blog and feel free to contact me to stay in touch! Oh yea, you can contribute stuff here yourself if you feel like :)</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}