{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://giftnkind.com/media/7945/contact.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="backdrop-filter:blur(10px);">Contact Me</h1>
            <span style="backdrop-filter:blur(10px);" class="subheading">Here with you, to answer your questions</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Fill out this form to stay in touch :)</p>
        <div style= "padding-top:5%">{{ wtf.quick_form(form) }}</div>
        
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}